<!DOCTYPE html>
<html lang="en" ng-app="bookmarkr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bookmarkr - Junior Ngoma</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>   
  <script src="./app.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-8 ml-auto mr-auto">
        <div ng-controller="bookmarkrController as bkmrkr">
          <div class="jumbotron">
            <h1 class="display-4">bookmarkr</h1>
            <form ng-submit="bkmrkr.validateBookmark(url)">
              <div class="form-group">
                <div class="row">
                  <div class="col-9">
                    <input class="form-control" type="url" ng-model="url" placeholder="Please enter a URL">              
                  </div>
                  <div class="col-3">
                    <input class="btn btn-success btn-block" type="submit" value="Add">
                  </div>
                </div>
              </div>
              <div class="alert alert-{{submitAlert.class}}" ng-show="submitAlert">{{submitAlert.msg}}</div>
            </form>
          </div>
          <div class="row">
            <div class="col-6" ng-repeat="bookmark in bookmarks | limitTo: pageSize : pageOffset track by $index">
              <div class="card" style="margin-bottom: 20px;">
                <div class="card-body">
                  <p class="card-text" ng-show="!toggleEdit[$index+pageOffset]">{{ bookmark }}</p>
                  <input class="form-control" type="text" ng-model="bookmark" ng-show="toggleEdit[$index+pageOffset]"> 
                  <a href="{{ bookmark }}" target="_blank" class="btn btn-success btn-sm ">Visit Link</a>                              
                  <button class="btn btn-info btn-sm" ng-click="bkmrkr.editBookmark($index+pageOffset,bookmark)">
                    {{ toggleEdit[$index+pageOffset] == true ? 'Save' : 'Edit' }}
                  </button>
                  <button class="btn btn-danger btn-sm float-right" ng-click="bkmrkr.removeBookmark($index+pageOffset)">Remove</button>                              
                </div>
              </div>
            </div>
          </div>
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <button class="btn btn-secondary btn-block" ng-disabled="currentPage == 0" ng-click="bkmrkr.previousPage()">Previous</button>
            </li>
            <li class="nav-item">
              <strong>{{ currentPage + 1 }} / {{ pageCount }}</strong>
            </li>
            <li class="nav-item">
              <button class="btn btn-secondary btn-block" ng-disabled="currentPage == pageCount-1" ng-click="bkmrkr.nextPage()">Next</button>
            </li>
          </ul>
        </div>
      </div>  
    </div>
  </div>
</body>
</html>